* {
    font-family: HelveticaNeue;
}

body {
    background-color: white;
    font-size: 24px;
}

.font_size_small {
    font-size: 16px;
}

.font_size_medium {
    font-size: 20px;
}

.no_wrap {
    white-space: nowrap;
}

.caption_h1 {
    font-weight: 500;
    font-size: 100%;
}

.back_img {
    background-image: url('img/backgroung.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    padding-bottom: 10%;
}

.zero_horizontal_margin {
    margin-right: 0px;
    margin-left: 0px;
}

footer {
    height: 126px;
    margin-top: 10px;
}

.vertical_padding_medium {
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn_call_rqst {
    width: 201px;
    height: 41px;
    border-radius: 15px;
    background-color: #333333;
    color: #ffffff;
    font-size: 67%;
    font-weight: 300;
    text-align: center;
    float: right;
}

.number {
    color: #333333;
    font-size: 75%;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    float: right;
}

.logo {
    color: #333333;
    font-size: 125%;
    line-height: 1;
}

.font_weight_medium {
    font-weight: 700;
}

.font_weight_small {
    font-weight: 400;
}

.logo_description {
    color: #6f6f6f;
    font-size: 58%;
    white-space: nowrap;
}

.color_white {
    color: #FFFFFF;
}

.color_yellow {
    color: #FFDC00;
}

.back_color_yellow {
    background-color: #FFDC00;
}

.back_color_black {
    background-color: #333333;
}

.color_black {
    color: #333333;
}

.color_gray {
    color: #9A9A9A;
}

.bonus {
    font-weight: 500;
}

.timer_block {
    display: inline-block;
    border-radius: 10px;
    background-color: #333333;
    font-size: 200%;
    text-align: center;
    color: #FFFFFF;

}

.timer_dots {
    font-size: 333%;
    font-weight: 900;
    text-align: center;
    color: #333333;
}

.timer {
    margin-top: -30px;
}

.small_timer_block {
    width: 10%;
    display: inline-block;
    border-radius: 5px;
    background-color: #333333;
    font-size: 125%;
    text-align: center;
    color: #FFFFFF;
}

.small_timer_dots {
    width: 8%;
    text-align: center;
    color: #333333;
    font-size: 200%;
    font-weight: 900;
}

.main_screen_center {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.price_img {
    border-radius: 50%;
}

.caption_h2 {
    text-align: center;
    font-weight: 700;
}

.caption_delelimeter_line {
    width: 30%;
    background-color: #FFDC01;
    margin-top: 30px;
}

.characteristic_text {
    font-size: 67%;
}

.max-content {
    width: max-content;
}

.centered {
    margin: auto;
}

ol.set {
    list-style-type: none;
    padding-left: 0;
    white-space: normal;
}

.margin_bottom_small {
    margin-bottom: 20px;
}

.btn_order {
    background-color: #FFDC00;
    color: #333333;
    font-weight: 700;
    border-style: outset;
    width: 260px;
    margin-top: 10px;
}

.reason_margin {
    margin-top: 59px;
    font-weight: 700;
}

.char_delimiter_line {
    float: left;
    width: 50px;
    background-color: #FFDC01;
}

.form-control {
    width: 90%;
}

#shipping td {
    padding-left: 100px;
    padding-right: 100px;
}

@media (min-width: 994px) {
    .char_center {
        margin-left: 7.5%;
    }

    body {
        padding-left: 150px;
        padding-right: 150px;
    }

    .back_img {
        margin-left: -165px;
        margin-right: -165px;
    }

    .logo {
        float: right;
    }

    .max-content-large {
        width: max-content;
    }

    .adorestrator_img {
        top: 0px;
        right: 0px;
        position: absolute;
    }

    .price_img {
        bottom: 0px;
        right: 0px;
        position: absolute;
    }

    .main_screen_center {
        position: relative;
        padding-right: 30%;
    }

    .timer_block {
        width: 50px;
    }

    footer.row {
        margin-left: -165px;
        margin-right: -165px;
    }
}

@media (max-width: 993px) {
    .text-small-center {
        text-align: center;
    }

    .back_img {
        margin-left: -15px;
        margin-right: -15px;
    }

    .invisible_small {
        visibility: hidden;
    }

    .centered_small {
        margin-left: auto;
        margin-right: auto;
        width: max-content;
    }

    .btn-order {
        width: 20%;
    }

    .price_img {
        width: 90px;
        margin-top: 45px;
        margin-left: -90px;
    }

    .timer_block {
        width: 40px;
    }

    .full_max_width_small {
        max-width: 100%;
    }

}