* {
	font-family: HelveticaNeue;
}

body {
	background-color: black;
}

.back_img {
	opacity: 0.7;
	position: absolute;
	width: 100%;
	height: auto;
	z-index: -1;
}

.row {
	height: 102px;
	background-color: #ffdc00;
	display: flex;
	align-items: center;
}

.btn_call_rqst {
	width: 200px;
	height: 40px;
	border-radius: 10px;
	background-color: #333333;
	color: #ffffff;
	font-size: 16px;
	font-weight: 300;
	line-height: 28px;
	text-align: center;
}

.number {
	color: #333333;
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
}

.call_div, .logo {
	width: min-content;
}

.logo {
	float: right;
	color: #333333;
	font-size: 30px;
	line-height: 28px;
}

.p1 {
	font-weight: 700;
}

.p2 {
	font-weight: 300;
}

.logo_description {
	color: #6f6f6f;
	font-size: 14px;
	font-weight: 400;
	line-height: 28px;
	white-space: nowrap;
}

.caption {
	font-weight: 700;
	font-size: 36px;
}

.hr2 {
	color: #FFFFFF;
}

.hr1 {
	color: #FFDC00;
}

.bonus {
	font-weight: 479;
	font-size: 24px;
}

.timer_block {
	width: 50px;
	height: 75px;
	display: inline-block;
	border-radius: 10px;
	background-color: #333333;
	font-size: 48px;
	text-align: center;
	color: #FFFFFF;
}

.timer_dots {
	font-size: 80px;
	font-weight: 1000;
	text-align: center;
	color: #333333;
}

.timer {
	margin-top: -30px;
}

.main_screen_center {
	width: 979px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 153px;

}